[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Git Health service
[access "refs/*"]
	owner = group GerritForge
	owner = group user/Fabio Ponciroli (barbasa)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group GerritForge
	label-Code-Review = -2..+2 group user/Fabio Ponciroli (barbasa)
	label-Verified = -1..+1 group GerritForge
	label-Verified = -1..+1 group user/Fabio Ponciroli (barbasa)
	push = group GerritForge
	push = group user/Fabio Ponciroli (barbasa)
	read = group GerritForge
	read = group user/Fabio Ponciroli (barbasa)
	rebase = group GerritForge
	rebase = group user/Fabio Ponciroli (barbasa)
	removeReviewer = group GerritForge
	removeReviewer = group user/Fabio Ponciroli (barbasa)
	submit = group GerritForge
	submit = group user/Fabio Ponciroli (barbasa)
[access "refs/heads/*"]
	create = group GerritForge
	create = group user/Fabio Ponciroli (barbasa)
	push = group GerritForge
	push = +force group user/Fabio Ponciroli (barbasa)
	pushMerge = group GerritForge
	pushMerge = group user/Fabio Ponciroli (barbasa)
	read = group GerritForge
	read = group user/Fabio Ponciroli (barbasa)
[access "refs/tags/*"]
	push = group GerritForge
	push = group user/Fabio Ponciroli (barbasa)
	push = +force group user/Fabio Ponciroli (barbasa)
